# Build artifacts
_build/
deps/

# Test files
test/
.credo.exs
.dialyzer_ignore.exs

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Documentation
*.md
docs/

# Docker
docker-compose.yml
Dockerfile

# Kubernetes
.kube/

# Local data
volume/
priv/static/

# OS files
.DS_Store
